<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>TREON</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

  <section id="splash" class="splash-fullpage" onclick="goToTryOn()">
    <p class="tap-text">Tap anywhere to continue</p>
  </section>

  <script>
    function goToTryOn() {
      window.location.href = "/tryon";
    }
  </script>

</body>
</html>
