<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Data Privacy Notice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

  <section class="privacy-notice">
    <div class="logo-wrapper">
        <img src="{{ url_for('static', filename='Treon1b1.jpg') }}" alt="TREON Logo" class="privacy-logo" />
    </div>

    <h1>Data Privacy Notice</h1>
    <p>
      To ensure a better customer experience, the system captures data
      with regards to facial features during use. The captured data will be used
      to improve the system and its features. However, users may opt out
      the saving of personal data.
    </p>

    <div class="privacy-buttons">
      <button class="accept-button">No Problem!</button>
      <button class="decline-button">No Please!</button>
    </div>
  </section>

  <script>
    document.querySelector('.accept-button')?.addEventListener('click', () => {
      window.location.href = '/';
    });

    document.querySelector('.decline-button')?.addEventListener('click', () => {
      alert("Your preference has been saved. No personal data will be stored.");
      window.location.href = '/';
    });
  </script>

</body>
</html>
